<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../../static/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="../../static/css/bootstrap.css"/>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <a data-th-href="|/users-dashboard/${recipe.user.id}|"><h1 class="text-center text-success">Der Liquid Mixtur Merker</h1></a>
                <p data-th-text="|Willkommen ${recipe.user.username}|"></p>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-9">
                    
                </div>
                <div class="col-md-3">

                </div>

            </div>
            <hr/>
            <div class="row" id="fooder">
                
                <p class="text-center">&copy; by Patrick Liepins 2016</p>
            </div>
        </div>

        <script src="../../static/js/jquery-3.1.1.min.js"></script>
        <script src="../../static/js/bootstrap.js"></script>
    </body>
</html>
