<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../../static/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="../../static/css/bootstrap.css"/>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1 class="text-center text-success">Der Liquid Mixtur Merker</h1>
                <p data-th-text="|Willkommen ${user.username}|"></p>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3"
                             data-th-each="flavor : ${user.flavors}">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"
                                        data-th-text="${flavor.name}">Panel title</h3>
                                </div>
                                <div class="panel-body">
                                    <p data-th-text="|Hersteller: ${flavor.producer.name}|"></p>
                                    <p data-th-text="|Anteil: ${flavor.mixture}%|"></p>
                                    <p data-th-text="|Mein Preis: ${flavor.price} €|"></p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3">

                </div>

            </div>
            <div class="row" id="fooder">
                <hr/>
                <p class="text-center">&copy; by Patrick Liepins 2016</p>
            </div>
        </div>

        <script src="../../static/js/jquery-3.1.1.min.js"></script>
        <script src="../../static/js/bootstrap.js"></script>
    </body>
</html>
